.gradle
.idea
build
captures
local.properties

bin
.classpath
.project
.settings
gen
*.iml
lint.xml
project.properties

.externalNativeBuild

/libs/
/src/main/jniLibs

/src/legacyRelease/
proguard-rules-legacy.pro